<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
</head>
<body>

    <h1 style="text-align: center;">My Name is Adelakun Abdulbasit</h1>
    <h3 style="text-align: center;">Student of Networking and System Security from Elerinmosa Institute of Technology</h3>

  <p style="text-align: center;">The command to create a virtual environment is python -m venv env</p>
  <p style="text-align: center;">The command to activate a virtual environment is env\scripts\activate</p>
</body>
</html>